<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net35" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net35" />
  <package id="librdkafka.redist" version="1.9.2" targetFramework="net35" />
  <package id="SimpleJson" version="0.38.0" targetFramework="net35" />
  <package id="Spring.Core" version="2.0.1" targetFramework="net35" />
</packages>